{% extends 'base.html.twig' %}

{% set rubric = 'accompagnement' %}

{% block content %}
    <section id="accompagnement" class="content">
        <div id="accompagnementLeft">
            <h2 class="text-center"><img src="{{ asset('/images/accompagnement/title-left.png') }}" alt="Exemple de projets en cours ou déjà réalisés"></h2>
            <div class="col">
                <h3 class="stanley">Restaurants engagés</h3>
                <div class="item" id="restaurants-engages">
                    <div class="float-container">
                        <img src="{{ asset('/images/accompagnement/restaurants-engages.png') }}">
                        <p class="text-left">
                            Dans le cadre du <b>Plan d'&Eacute;ducation au Développement Durable</b> de la <b>Métropole de Lyon,</b> nous accompagnons des restaurants vers une
                            <span class="bloc-zero-gaspi">démarche Zéro <br>Gaspi-Zéro Déchet</span>
                        </p>
                    </div>
                    &gt; diagnostic,<br>
                    &gt; suivi et évaluation,<br>
                    &gt; création d'une boîte à outils personnalisée,<br>
                    &gt; communication interne et facilitation,<br>
                    &gt; bilan et perspectives.<br><br>
                    <div class="text-center">
                        <b>Ils nous ont fait confiance :</b><br>
                        La fourmilière, le Rita Plage,<br>
                        Le famille,<br>
                        Le Café Charmant, L'Index.
                        <br><br>
                        <b>Ils utilisent le Gourmet Bag :</b><br>
                        Les Frères Barbet, le Café Marmot,<br>
                        Le Mondrian, Le Café du Rhône
                        <br>
                        <br>
                        <a href="http://draaf.auvergne-rhone-alpes.agriculture.gouv.fr/Les-lettres-d-infos-de-l" target="_blank" class="letter">Lettre d'info des restos</a>
                    </div>
                </div>
                <h3 class="stanley">Conférence</h3>
                <div class="item" id="conferences">
                    <div class="title">S'engager pour une alimentation<br>zéro gaspi - zéro déchet</div>
                    <img src="{{ asset('/images/accompagnement/conferences.jpg') }}">
                    <br>
                    <b>Format : 1h</b>
                    <br>
                    <br>
                    <b>&gt; Conscientisation</b> (gaspillage des ressources, modes de consommation, de l'aliment au déchet) <br>
                    <b>&gt; Les activités de l'association</b><br> Objectifs et activités - Vidéos de présentation <br>
                    <b>&gt; S'engager pour une alimentation zéro gaspi-zéro déchet</b> (idées reçues, astuces...) <br>
                    <b>&gt; Possibilité d'ajouter une dégustation</b>

                </div>
            </div>
            <div class="col">
                <h3 class="stanley">Bocalerie collective</h3>
                <div class="item" id="bocalerie">
                    <div class="float-container">
                        <p class="text-right">
                            Accompagnement d'<b>un projet de cuisine collective au Mas du Taureau à Vaulx en Velin&nbsp;!</b>
                        </p>
                        <img src="{{ asset('/images/accompagnement/bocalerie.png') }}">
                    </div>
                    En remportant l'appel à projet <b>Rhônalpin-Ecocitoyen</b> financé par la <b>Région Auvergne-Rhône-Alpes,</b> nous accompagnons un projet de cuisine
                    collective et participative pour les habitants du quartier du Mas du Taureau. De la conception de la cuisine à la mise en place de formatoins, ce projet a vocation à
                    créer un lien autonome autour de la cuinsine. <br>
                    Ce projet est soutenu par le bailleur social <b>Est Métropole Habitat.</b>
                </div>
                <h3 class="stanley">Accompagnement de résidence<br>pour les jeunes</h3>
                <div class="item">
                    &Agrave; la suite d'une expérimentation dans le cadre du <b>Plan d'&Eacute;ducation au Développement Durable 2016,</b> financé par la <b>Métropole de Lyon,</b>
                    nous avons développé des cycles d'animation adaptés aux résidents de ces structures sociales.
                    <br>
                    <br>
                    <p class="text-center"><b>Ils nous ont fait confiance :</b></p>
                    <img src="{{ asset('/images/accompagnement/accompagnement-1.png') }}">
                    <img id="accompagnement-second-img" src="{{ asset('/images/accompagnement/accompagnement-2.png') }}">
                    <img src="{{ asset('/images/accompagnement/accompagnement-3.png') }}">
                </div>
                <h3 class="stanley">Supports pédagogiques<br>pour les scolaires</h3>
                <div class="item" id="supports-pedagogiques">
                    Avec le soutien de la <b>DRAAF en Auvergne-Rhône-Alpes,</b> et la collaboration du <b>Centre National de Formation aux Métiers du Jeu et du Jouet,</b>
                    nous avons développé un cycle d'animations pour les scolaires de cycle 3.
                    <div class="float-container">
                        <img src="{{ asset('/images/accompagnement/supports-pedagogiques.jpg') }}">
                        <p>
                            Les supports, la méthodologie et l'ingénierie pédagogique sont mis à disposition des animateurs. <br>
                            Ce cycle est construit autour de plusieurs séances : <br><br>
                            <b>- Séance 1 :</b><br>
                            jeu collaboratif AntiGaspi. <br>
                            <b>- Séance 2 :</b><br>
                            recette avec du pain sec.<br>
                            <b>- Séance 3 :</b><br>
                            recette avec des fruits abîmés. <br>
                            <b>- Séance 4 :</b><br>
                            buffet réalisé par les enfants pour les parents et les équipes éducatives.<br>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div id="accompagnementRight">
            <h2 class="text-center"><img src="{{ asset('/images/accompagnement/title-right.png') }}" alt="Nous vous accompagnons vers une démarche zéro gaspi - zéro déchet !"></h2>
            <div class="accompagnementRightTitle stanley" id="accompagnementRightTitle1"><span>Accompagnement de projets</span></div>
            <p class="separator text-left">
                Forts de notre expérience de terrain avec tous les <b>acteurs de la chaîne alimentaire</b>, nous proposons de vous accompagner
                pour mettre en place des <b>actions de réduction du gaspillage alimentaire et de gestion des déchets :</b><br>
                - diagnostic,<br>
                - suivi et évaluation,<br>
                - création d'une boîte à outils personnalisée,<br>
                - communication interne et facilitation,<br>
                - bilan et perspectives.<br>
            </p>
            <div class="accompagnementRightTitle stanley" id="accompagnementRightTitle2"><span>Formations</span></div>
            <p class="separator text-left">
                <b>Les formations sont en cours de construction.</b>
                L'objectif, basé sur des besoins identifiés, est de former des <b>ambassadeurs zéro gaspi-zéro déchet</b> dans toutes les structures comme :<br>
                - des associations, des entreprises,<br>
                - des collectivités, des établissements scolaires,<br>
                - des professionnels ou futurs professionnels de l'alimentation,<br>
                afin de pouvoir relayer des <b>pratiques de production et de consommation pour une réduction des gaspillages.</b><br>
                Si vous êtes intéressés par ces futurs modules, merci de nous contacter !
            </p>
            <div class="accompagnementRightTitle stanley" id="accompagnementRightTitle3"><span>Conférences</span></div>
            <p class="text-left">
                Objectifs : sensibiliser le grand public aux enjeux du gaspillage alimentaire et de la réductions des déchets, en proposant des pistes d'actions collectives participatives.
                Possibilité d'adapter la présentation en fonction des besoins. Intervenants : Prescilia Bellat ou Lucas Bodet
            </p>
            <div id="bloc-contact">
                <div class="title stanley">Contactez-nous !</div>
                Prescilia : <a href="mailto:prescilia@recupetgamelles.fr">prescilia@recupetgamelles.fr</a> - 07 82 33 30 92 <br>
                ou Lucas : <a href="mailto:lucas@recupetgamelles.fr">lucas@recupetgamelles.fr</a> - 07 86 09 03 78
            </div>
        </div>
    </section>
{% endblock content %}
