<div id="footer">
    <div class="content">
        <div id="facebook-link">
            <a href="https://www.facebook.com/recupetgamelles" target="_blank"><img src="{{ asset('images/footer/logo_facebook.png') }}" alt="Suivez-nous sur facebook"></a>
        </div>

        <div id="footer-menu">
            <ul>
                <li><a href="{{ path('association') }}">L'association</a></li>
                <li><a href="{{ path('agenda') }}">Agenda</a></li>
                <li><a href="{{ path('ateliers') }}">Nos activités</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
            <ul>
                <li><a href="{{ path('benevolat') }}">Don - bénévolat</a></li>
                <li><a href="{{ path('conserverie') }}">Bocalerie solidaire</a></li>
                <li><a href="{{ path('invendus') }}">Collecte d'invendus</a></li>
                <li><a href="{{ path('accompagnement') }}">Accompagnement <br> 0 gaspi - 0 déchet</a></li>
            </ul>
        </div>

        <div id="newsletter">
            <a href="https://sibforms.com/serve/MUIEAIqV2K_TFEOJCo6vKsb1CfW36E4C5DHOk28OSzafstCNRPHGG0kiUS17Gcm8WQuQ9H7RGWMS__5TlrEsrApmK0bhOm0lu0BShJgTH-33CpXD111SCMNqDTFPRrKlCpEoz9EMJq08mD2kGrupMBHwxInZrXttyeEci7UwOxOg2hRAij13O2qQ85Sy-y-hfTdmzS8zCbLIjXp6" target="_blank" class="stanley">
                <i class="glyphicon glyphicon-envelope"></i>
                S'abonner<br>à la newsletter
            </a>
        </div>

        <div id="footer-title">
            <a href="http://www.auvergnerhonealpes.fr/" target="_blank"><img src="{{ "/images/footer/logo-region.png" }}" alt="Région Auvergne Rhône-Alpes" ></a>
            <a href="http://www.ademe.fr/" target="_blank"><img src="{{ "/images/footer/logo-ademe.jpg" }}" alt="Ademe" ></a>
            <a href="http://www.grandlyon.com/metropole/bienvenue-a-la-metropole.html" target="_blank"><img src="{{ "/images/footer/logo_grand_lyon.png" }}" alt="Grand Lyon métropole" ></a>
            <a href="https://webtv.agriculture.gouv.fr/" target="_blank"><img src="{{ "/images/footer/logo_ministere.jpeg" }}" alt="Ministère de l'agriculture, de l'agroalimentaire et de la forêt" height="150px"></a>
        </div>
    </div>
</div>