{% extends 'base.html.twig' %}

{% block content %}

    <section id="home" class="content">
        <div id="homeLeft">
            <h2 class="stanley">Bienvenue !</h2>
            {{ homeText|raw }}
        </div>
        <div id="homeRight">
            <div class="item extended-link">
                <a href="{{ path('invendus') }}"><img src="{{ asset('images/home/picto_collecte_invendus.png') }}"></a>
                <p>
                    <span>
                        <span class="title stanley">Collecte d'invendus</span><br>
                        <span class="desc">Auprès des partenaires</span>
                    </span>
                </p>
            </div>
            <div class="item extended-link">
                <a href="{{ path('ateliers') }}"><img src="{{ asset('images/home/picto_atelier_antigaspi.png') }}"></a>
                <p>
                    <span>
                        <span class="title stanley">Animations antigaspi</span><br>
                        <span class="desc">Jeux, sensibilisation, cuisine, transformation, dégustation</span>
                    </span>
                </p>
            </div>
            <div class="item extended-link">
                <a href="{{ path('conserverie') }}"><img
                            src="{{ asset('images/home/picto_conserverie_solidaire.png') }}"></a>
                <p>
                    <span>
                        <span class="title stanley">Bocalerie solidaire</span><br>
                        <span class="subtitle stanley">Bocaux artisanaux</span><br>
                        <span class="desc">Sauvetage et petits prix</span>
                    </span>
                </p>
            </div>
            <div class="item extended-link">
                <a href="{{ path('accompagnement') }}"><img src="{{ asset('images/home/picto-accompagnement.png') }}"></a>
                <p>
                    <span>
                        <span class="title stanley">Accompagnement vers une démarche 0 gaspi - 0 déchet</span><br>
                        <span class="desc">Suivi et accompagnement de projets, formations, conférences...</span>
                    </span>
                </p>
            </div>
        </div>
    </section>

{% endblock %}