{% extends 'base.html.twig' %}

{% set rubric = 'info' %}

{% block content %}
    <section id="contact" class="content">

        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                {% for message in app.session.flashBag.get('success') %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}


        <h2 class="stanley">Infos et contacts</h2>
        <div id="contactLeft">
            <h3 class="stanley">Une équipe engagée et volontaire !</h3>
            <h4 class="stanley">Au quotidien</h4>
            <div class="item" style="padding-bottom: 30px;padding-top: 17px;">
                <div class="contact-column">
                    <div>
                        <b>Prescilia BELLAT</b><br>
                        <b>Coordinatrice projets</b><br>
                        <i>Projets / Développement</i><br>
                        <i>communication / Partenariats</i><br>
                        <a href="mailto:prescilia@recupetgamelles.fr">prescilia@recupetgamelles.fr</a><br>
                        07.82.33.30.92
                    </div>
                    <div>
                        <b>Lucas BODET</b><br>
                        <b>Chargé de mission</b><br>
                        <i>Suivi de projets / formations</i><br>
                        <i>Référent vie associative</i><br>
                        <a href="mailto:lucas@recupetgamelles.fr">lucas@recupetgamelles.fr</a><br>
                        07.86.09.03.78
                    </div>
                </div>
                <div class="contact-column">
                    <div>
                        <b>Sandy SCHULT</b><br>
                        <b>Coordinatrice opérationnelle</b><br>
                        <i>admin / plannification des animations</i><br>
                        <i>vente bocalerie / devis et factures</i><br>
                        <a href="mailto:sandy@recupetgamelles.fr">sandy@recupetgamelles.fr</a><br>
                        06.28.63.24.55
                    </div>
                    <div>
                        <b>Betty BORGHI</b><br>
                        <b>Cuisinière-Animatrice-Diététicienne</b><br>
                        <i>en charge de la cuisine</i><br>
                        <i>Zéro gaspi - Zéro déchet</i><br>
                        <a href="mailto:betty@recupetgamelles.fr">betty@recupetgamelles.fr</a><br>
                        06.29.79.64.13
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>

            <h4 class="stanley">Des volontaires en<br> service civique</h4>
            <div class="item">
                <div class="contact-column">
                    <br><br>
                    <i>Support projets<br>Renfort en animation</i><br><br>
                    <b>Julia</b><br>
                    <a href="mailto:julia@recupetgamelles.fr">julia@recupetgamelles.fr</a><br><br>
                    <br><br><br>
                </div>
                <div class="contact-column">
                    <i>Vie associative<br>Renfort en animation</i><br><br>
                    <a href="mailto:bénévole@recupetgamelles.fr">bénévole@recupetgamelles.fr</a><br><br>
                    <b>Caroline</b><br>
                    <a href="mailto:caroline@recupetgamelles.fr">caroline@recupetgamelles.fr</a><br><br>
                    <b>Noémie</b><br>
                    <a href="mailto:noemie@recupetgamelles.fr">noemie@recupetgamelles.fr</a><br><br>
                </div>
            </div>

            <h4 class="stanley">Bureau et conseil d'administration</h4>
            <div class="item">
                <div class="contact-column-ca">
                    <b>Alexandra BOUCHEK</b><br>
                    <b>Présidente</b><br>
                    <a href="mailto:alexandra@recupetgamelles.fr">alexandra@recupetgamelles.fr</a><br>
                </div>
                <div class="contact-column-ca">
                    <b>Sophie GU&Eacute;RIN</b><br>
                    <b>Trésorière</b><br>
                    <a href="mailto:sophieguerin@rgmail.com">sophieguerin@rgmail.com</a>
                </div>
                <div class="contact-column-ca">
                    <b>Fairley LE MOAL</b><br>
                    <b>Trésorière</b><br>
                    <a href="mailto:lemoal.fairley@gmail.com">lemoal.fairley@gmail.com</a>
                </div>
                <div class="text-center" style="margin-top: 110px;">
                    <b>Administrateurs :</b><br>
                    Raphaël Cochet, Mélanie Garnier, Mathias Collon.
                </div>
            </div>

            <h4 class="stanley" style="clear:both">Et un réseau d'adhérents et de bénévoles<br> toujours plus important !</h4>
            <p class="figures">Chiffres 2017 : 130 adhérents, dont 63 actifs.</p>
        </div>
        <div id="contactRight">
            <h3 class="stanley">Où nous trouver ?</h3>
            <div class="address">
                <b>Adresse du local</b><br>
                28 C rue Santos Dumont <br>69008 Lyon
                <br><br>
                <b>Adresse du siège</b><br>
                REZO - Maison des associations<br>
                100, route de Vienne<br>
                69008 Lyon
            </div>
            <div class="address">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2784.6611961983126!2d4.850053315977592!3d45.73788897910502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ea113155f35d%3A0x6f4cee1524e771e4!2sREZO+1901!5e0!3m2!1sfr!2sfr!4v1508162238799"
                        frameborder="0"
                        style="border:0;width:100%;height:172px;" allowfullscreen></iframe>
            </div>
            <div style="clear:both;height:10px"></div>
            <h3 class="stanley">Nous contacter</h3>
            {{ form_start(form) }}
            <div>
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>
            <div>
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
            <div>
                {{ form_label(form.subject) }}
                {{ form_widget(form.subject) }}
            </div>
            <div>
                {{ form_label(form.message) }}
                {{ form_widget(form.message) }}
            </div>
            <div class="submit">
                <button type="submit">Envoyer</button>
            </div>
            {{ form_end(form) }}
        </div>
    </section>

    <script>

    </script>
{% endblock content %}
