{% extends 'base.html.twig' %}

{% set rubric = 'recettes' %}

{% block content %}
    <section id="recettes" class="content">
        <div id="recettesLeft">
            <div class="title">
                <img src="{{ asset('images/recettes/title-left.png') }}">
            </div>
            <img src="{{ asset('images/recettes/logo-recettes.png') }}" id="logo-recette">
            <div class="recettesLeftInner">
                {% for category in leftCategoriesWithRecettes %}
                    <h4 class="stanley">{{ category.name }}</h4>
                    <ul class="item">
                        {% for recette in category.recettes %}
                            <li><a target="_blank" href="{{ asset('recettes/' ~ recette.pdf) }}">{{ recette.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
            <div class="recettesLeftInner">
                {% for category in rightCategoriesWithRecettes if category.recettes|length > 0 %}
                    <h4 class="stanley">{{ category.name }}</h4>
                    <ul class="item">
                        {% for recette in category.recettes %}
                            <li><a target="_blank" href="{{ asset('recettes/' ~ recette.pdf) }}">{{ recette.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>
        <div id="recettesRight">
            <div class="title">
                <img src="{{ asset('images/recettes/title-right.png') }}">
            </div>
            <div id="recettesRightInner">
                <a target="_blank" href="{{ asset('recettes/LivretAntiGaspiNumerique.pdf') }}">
                    <img src="{{ asset('images/recettes/download-livret.png') }}" alt="Télécharger le livret anti gaspi">
                </a>
                <a target="_blank" href="{{ asset('recettes/ExpoAntiGaspi_A3_web.pdf') }}">
                    <img src="{{ asset('images/recettes/download-expo.png') }}" alt="Télécharger l'expo anti gaspi">
                </a>
            </div>
        </div>
    </section>
{% endblock content %}
