{% extends 'base.html.twig' %}

{% set rubric = 'info' %}

{% block content %}
    <section id="contact" class="content">

        {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for message in app.session.flashBag.get('success') %}
                {{ message }}
            {% endfor %}
        </div>
        {% endif %}


        <h2 class="stanley">Infos et contacts</h2>
        <div id="contactLeft">
            <h3 class="stanley">Une équipe engagée et volontaire !</h3>
            <div class="contactLeftInner">
                <h4 class="stanley">Au quotidien</h4>
                <div class="item">
                    <b>Prescilia BELLAT</b><br>
                    <b>Coordinatrice projets</b><br>
                    <a href="mailto:prescilia@recupetgamelles.fr">prescilia@recupetgamelles.fr</a><br>
                    07.82.33.30.92<br><br>

                    <b>Antinéa DUGUA</b><br>
                    <b>Animatrice et chargée<br>des transformations</b><br>
                    <a href="mailto:antinea@recupetgamelles.fr">antinea@recupetgamelles.fr</a><br>
                    06.62.37.46.89<br><br>

                    <b>Sandy Schult</b><br>
                    <b>Volontaire en service civique</b><br>
                    <a href="mailto:sandy@recupetgamelles.fr">sandy@recupetgamelles.fr</a><br><br>


                    <b>Lucas Bodet</b><br>
                    <b>Volontaire en service civique</b><br>
                    <a href="mailto:lucas@recupetgamelles.fr">lucas@recupetgamelles.fr</a><br><br>
                </div>
            </div>
            <div class="contactLeftInner">
                <h4 class="stanley">Membres du bureau</h4>
                <div class="item">
                    <b>Alexandra BOUCHEK</b><br>
                    <b>Présidente</b><br>
                    <a href="mailto:alexandra@recupetgamelles.fr">alexandra@recupetgamelles.fr</a><br>
                    06.87.08.74.54<br><br>
                    <b>Sophie GU&Eacute;RIN</b><br>
                    <b>Trésorière</b><br>
                    <a href="mailto:sophie@recupetgamelles.fr">sophie@recupetgamelles.fr</a>
                </div>
                <h4 class="stanley">De bénévoles référents</h4>
                <div class="item">
                    <b>Paul BERTHET</b><br>
                    Montage de projets<br><br>

                    <b>Amanda et Victor</b><br>
                    Conseil juridique<br><br>

                    <b>Boris FROMENT</b><br>
                    Comptabilité<br><br>

                    <b>Nicolas PHILIPPE</b><br>
                    Web<br><br>

                    <b>Pascal CAPERN</b><br>
                    Photo<br><br>

                </div>
            </div>
        </div>
        <div id="contactRight">
            <h3 class="stanley">Nous contacter</h3>
            {{ form_start(form) }}
                <div>
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div>
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
                <div>
                    {{ form_label(form.subject) }}
                    {{ form_widget(form.subject) }}
                </div>
                <div>
                    {{ form_label(form.message) }}
                    {{ form_widget(form.message) }}
                </div>
                <div class="submit">
                    <button type="submit">Envoyer</button>
                </div>
            {{ form_end(form) }}
        </div>
    </section>

    <script>

    </script>
{% endblock content %}
